@import './prism';
@import '../../style/index';

.content {
  color: $color-text-primary;
  h1:not([class*='coo-']) {
    font-size: 40px;
    margin: 20px 0;
    font-weight: 400;
    line-height: 1.167;
    letter-spacing: 0em;
  }

  h2:not([class*='coo-']) {
    margin: 60px 0 25px;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.235;
    letter-spacing: 0.00735em;
  }

  h3:not([class*='coo-']) {
    margin: 40px 0 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
  }

  h1:not([class*='coo-']),
  h2:not([class*='coo-']),
  h3:not([class*='coo-']) {
    color: $color-title-primary;
    font-weight: 300;
  }

  li:not([class*='coo-']) {
    list-style: inside;
  }

  p:not([class*='coo-']) {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: 0.00938em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  code[class*='language-none'],
  code:not([class*='coo-']) {
    color: #476582;
    padding: 0.15rem 0.5rem;
    margin: 0 0.15rem;
    font-size: 0.85rem;
    background: #f2f4f5;
    border-radius: 3px;
  }

  a:not([class*='coo-']) {
    position: relative;
    color: $color-primary;
    padding-right: 20px;
    margin: 0 5px;
    &:hover {
      text-decoration: underline;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 20px;
      height: 20px;
      background: url(//gw.alicdn.com/tfs/TB1ip7Lv1H2gK0jSZFEXXcqMpXa-120-120.png);
      background-size: cover;
    }
  }

  pre:not([class*='coo-']) {
    max-height: 1000px;
    color: #fff;
    padding: 12px 18px;
    line-height: 1.5;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    margin: 0px;
    direction: ltr;
    border-radius: 4px;
    background-color: #272c34;
    overflow: auto;

    .plain-text {
      color: #fff;
    }

    > code[class*='language-'] {
      display: inline-block;
      background: transparent;
      padding: 2px 6px;
      color: #fff;
      margin: 0;
      font-family: Menlo, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    }
  }

  .table-wrapper:not([class*='coo-']) {
    overflow-x: auto;

    table {
      min-width: 720px;
      width: 100%;
      empty-cells: show;
      font-size: 13px;
      border-collapse: collapse;
      border: 1px solid rgba(0, 0, 0, 0.02);
      box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 8px 0px;
      display: table;
      strong {
        font-weight: normal;
      }

      th {
        text-align: left;
        white-space: nowrap;
      }

      thead th {
        background-color: rgba(0, 0, 0, 0.02);
      }

      td,
      th {
        border: 1px solid #eaeefb;
        padding: 10px;
        max-width: 250px;
      }

      th:first-child,
      td:first-child {
        padding-left: 10px;
      }

      tbody > tr:hover {
        background: rgba(60, 90, 100, 0.04);
      }
    }
  }
}

.codebox {
  width: 100%;
  margin-top: 30px;

  .code-wrapper {
    display: flex;
  }
}
