.navbar {
  width: 270px;
  height: 100vh;
  flex-shrink: 0;
  overflow: scroll;
  position: sticky;
  top: 0px;
  opacity: 0.7;
  transition: all 0.3s;
  &-active-bg {
    background: rgba(255, 153, 0, 0.075);
  }
  &:hover {
    opacity: 1;
  }
}
