@import './style/index';

.text-primary {
  color: $color-text-primary;
}

.text-active-primary {
  color: $color-primary;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-family;
  font-weight: 300;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  background: #fff;
  box-shadow: $color-shadow;
}

.main {
  padding-left: $navWidth;
  height: calc(100% - 55px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: $bg-primary;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: $navWidth;
  height: 100vh;
  flex-shrink: 0;
  background: #fff;
  box-shadow: $color-shadow;
  &-active {
    position: relative;
    color: $color-primary;
    background: rgba($color-primary, 0.1);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
      background: linear-gradient(to right, $color-primary 50%, #fff);
    }
  }

  &-list {
    li {
      &:hover {
        color: $color-primary;
      }
    }
  }
}

.docs-container {
  max-width: 1000px;
  padding: 30px;
  margin: 0 auto 80px;
  background: #fff;
  border-radius: 5px;
  > .content {
    padding-bottom: 50px;
  }
}

.zoom-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: 0.7;
  top: 80px;
}

@media (max-width: 769px) {
  .main {
    padding-left: 0;
  }
}

::-webkit-scrollbar {
  display: none;
}
