// init: visible ? enterTo : enter -> enterActive(20ms) -> enterTo(duration)
// leave -> leaveActive(20ms) -> leaveTo(duration)

// fade
.coo-fade {
  transition: all 0.3s;
}

.coo-fade-enter {
  display: block;
  opacity: 0;
}

.coo-fade-enter-active {
  display: block;
  opacity: 1;
}

.coo-fade-enter-to {
  display: block;
  opacity: 1;
}

.coo-fade-leave {
  display: block;
  opacity: 1;
}

.coo-fade-leave-active {
  display: block;
  opacity: 0;
}

.coo-fade-leave-to {
  display: none;
  opacity: 0;
}

// dropdown-transition

.coo-dropdown-transition {
  transition: all 0.3s;
}

.coo-dropdown-transition-enter {
  display: block;
  opacity: 0;
  transform: scaleY(0);
  &.coo-dropdown-overlay-bottom-center {
    transform: scaleY(0) translateX(-50%);
  }
  &.coo-dropdown-overlay-top-center {
    transform: scaleY(0) translateX(-50%);
  }
}

.coo-dropdown-transition-enter-active,
.coo-dropdown-transition-enter-to,
.coo-dropdown-transition-leave {
  display: block;
  opacity: 1;
  transform: scaleY(1);
  &.coo-dropdown-overlay-bottom-center {
    transform: scaleY(1) translateX(-50%);
  }
  &.coo-dropdown-overlay-top-center {
    transform: scaleY(1) translateX(-50%);
  }
}

.coo-dropdown-transition-leave-active {
  display: block;
  opacity: 0;
  transform: scaleY(0);
  &.coo-dropdown-overlay-bottom-center {
    transform: scaleY(0) translateX(-50%);
  }
  &.coo-dropdown-overlay-top-center {
    transform: scaleY(0) translateX(-50%);
  }
}

.coo-dropdown-transition-leave-to {
  display: none;
  opacity: 0;
  transform: scaleY(0);
  &.coo-dropdown-overlay-bottom-center {
    transform: scaleY(0) translateX(-50%);
  }
  &.coo-dropdown-overlay-top-center {
    transform: scaleY(0) translateX(-50%);
  }
}

// menu-transition

.coo-menu {
  transition: all 0.3s;
  transform-origin: top center;
}

.coo-menu-enter {
  display: block;
  opacity: 0;
  transform: scaleY(0);
}

.coo-menu-enter-active,
.coo-menu-enter-to,
.coo-menu-leave {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}

.coo-menu-leave-active {
  display: block;
  opacity: 0;
  transform: scaleY(0);
}

.coo-menu-leave-to {
  display: none;
  opacity: 0;
  transform: scaleY(0);
}
